<h1>main.ejs</h1>

<% if (email) { %>
    <h2>Hello! <span style="color: red;"><%=email%></span></h2>
    <a href="/auth/logout">Log Out</a>
<% } else { %>
    <a href="/auth/signup">Sign Up</a> |
    <a href="/auth/login">Log In</a> |
    <a href="/auth/facebook">Log In By Facebook</a>
<% } %>